# Ignore virtual environment
myenv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Ignore model outputs or large temporary files
*.bin
*.zip

# Ignore OS/system files
.DS_Store
Thumbs.db